@page "/tou"

<PageTitle>Mike Codes .NET - Terms of Use</PageTitle>

<div class="mt-5 container ">    

    <section class="firstSection">

        <h1 class="pageTitle">Terms of use</h1>

        <Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.Zero">
            <div class="container" style="tab-interval:36.0pt; word-wrap:break-word">
                <strong class="mt-4">Content goes here</strong>
            </div>
        </Animate>
    </section>

</div>