@inherits LayoutComponentBase

<div class="page loaded" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">

    <div class="main">

        <div class="loader">
            <div class="loading-animation"></div>
        </div>
        

        <NavBar></NavBar>

        <div class="content">
            <Alert />
            @Body
        </div>


        <Footer></Footer>
    </div>
</div>

